<div class="sign-up">
  <form class="sign-up--form">
    <div class="return-block">
      <div class="icon-base icon-arrow-left"></div>
      <span class="text">Back</span>
    </div>
    <div class="content">
      <div class="top-section">
        <div class="title-block">
          <span class="title--sub">Start from free</span>
          <span class="title--main">Create an account</span>
        </div>
        <div class="buttons-block">
          <button class="button">
            <div class="icon-google icon-base"></div>
            <span>Sign up with Google</span>
          </button>
          <button class="button">
            <div class="icon-facebook icon-base"></div>
            <span>Sign up with Google</span>
          </button>
        </div>
        <div class="desc-block">
          <span class="text"> Or use your email for registration </span>
          <div class="line"></div>
        </div>
      </div>
      <div class="input-field-section">
        <div class="row">
          <div class="input-field--item">
            <input type="text" placeholder="First Name" />
            <span class="placeholder">First Name</span>
          </div>
          <div class="input-field--item">
            <input type="text" placeholder="Last Name" />
            <span class="placeholder">Last Name</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field--item">
            <input type="email" placeholder="E-mail" />
            <span class="placeholder">E-mail</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field--item password">
            <input type="password" placeholder="Password" />
            <div class="icon-lg icon-view-hide"></div>
            <span class="placeholder">Password</span>
            <div class="notification-section">
              <div class="notification--item">
                <span class="icon-sm icon-check-circle"></span>
                <span class="text">8 Characters min.</span>
              </div>
              <div class="notification--item">
                <span class="icon-sm icon-check-circle"></span>
                <span class="text">One number</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-section">
        <div class="agreement-block">
          <input type="checkbox" />
          <span>
            By creating account, you agree to accept our Privacy Policy, Terms
            of Service and Notification settings.
          </span>
        </div>
        <button class="button">Create a Free Account!</button>
        <div>
          Already have an account?
          <span class="link">Log in</span>
        </div>
      </div>
    </div>
  </form>
</div>
